Repository Estacao-Andromeda/Estacao-Andromeda, pull requests merged in 2025-09, with the labels that each got.

#33 Tradução do POP do funky
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/BlueAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/DeltaAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/GammaAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/GreenAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/OctarineAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/RedAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/VioletAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/AlertLevel/YellowAlert.xml
  Resources/ServerInfo/Funkystation/Guidebook/Cargo/CargoSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/Command/AlertLevels.xml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/Command/CommandTrainingManual.xml
  Resources/ServerInfo/Funkystation/Guidebook/Engineering/EngineeringSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/Legal/LegalSOP.xml
  Resources/ServerInfo/Funkystation/Guidebook/Medical/MedicalStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/SOP/SOP101.xml
  Resources/ServerInfo/Funkystation/Guidebook/Science/ScienceStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/Security/RulesOfConduct.xml
  Resources/ServerInfo/Funkystation/Guidebook/Security/SecurityStandardOperatingProcedure.xml
  Resources/ServerInfo/Funkystation/Guidebook/Security/SecurityTrainingManual.xml
  Resources/ServerInfo/Funkystation/Guidebook/Service/ServiceStandardOperatingProcedure.xml
Labels: Changes: No C#

#34 fiz a traducao de algumas coisas
  Resources/Locale/en-US/_DV/datasets/names/oni.ftl
  Resources/Locale/en-US/_DV/store/uplink-catalog.ftl
  Resources/Locale/en-US/_Funkystation/sacrificed.ftl
  Resources/Locale/en-US/_Goobstation/accent/accents.ftl
  Resources/Locale/en-US/_Goobstation/store/uplink-catalog.ftl
  Resources/Locale/en-US/ghost/ghost-gui.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/pt-BR/Entities/Body/Organs/human.ftl
  Resources/Locale/pt-BR/Entities/Body/Parts/human.ftl
  Resources/Locale/pt-BR/Entities/Clothing/OuterClothing/hardsuit.ftl
  Resources/Locale/pt-BR/Entities/Clothing/hands/colored.ftl
  Resources/Locale/pt-BR/Entities/Clothing/hands/gloves.ftl
  Resources/Locale/pt-BR/Entities/Clothing/hands/rings.ftl
  Resources/Locale/pt-BR/Entities/Clothing/hands/specific.ftl
  Resources/Locale/pt-BR/Entities/Surgery/surgeries.ftl
  Resources/Locale/pt-BR/Entities/Surgery/surgery_steps.ftl
  Resources/Locale/pt-BR/_Shitmed/autodoc.ftl
  Resources/Locale/pt-BR/_Shitmed/surgery/surgery-popup.ftl
  Resources/Locale/pt-BR/_Shitmed/surgery/surgery-tools.ftl
  Resources/Locale/pt-BR/_Shitmed/surgery/surgery-ui.ftl
  Resources/Locale/pt-BR/guidebook/guides.ftl
  Resources/Prototypes/_Shitmed/Entities/Surgery/surgeries.yml
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/Generators.xml
  Resources/ServerInfo/Guidebook/Engineering/PortableGenerator.xml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Engineering/SingularityEngine.xml
  Resources/ServerInfo/Guidebook/Engineering/SingularityTeslaEngine.xml
  Resources/ServerInfo/Guidebook/Engineering/TeslaEngine.xml
Labels: Changes: No C#

#39 Erros Arrumados possivelmente
  Resources/Locale/pt-BR/Entities/Clothing/hands/gloves.ftl
  Resources/Locale/pt-BR/_Shitmed/surgery/surgery-ui.ftl
  Resources/Locale/pt-BR/guidebook/guides.ftl
  Resources/Locale/pt-BR/surgery/surgery-ui.ftl
Labels: Changes: No C#

#47 Mostra vida no crew monitoring
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: Changes: UI

#44 Bandeirinhas + Roupa de barão
  Resources/Prototypes/_Andromeda/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_Andromeda/Entities/Objects/Decorations/Flag.yml
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/Roupa_barao.rsi/Icon.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/Roupa_barao.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Andromeda/Clothing/Uniforms/Jumpsuit/Roupa_barao.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Decoration/Flags/central_flagpole.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Decoration/Flags/central_flagpole.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Decoration/Flags/nano_flagpole.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Decoration/Flags/nano_flagpole.rsi/meta.json
  Resources/Textures/_Andromeda/Objects/Decoration/Flags/syndie_flagpole.rsi/icon.png
  Resources/Textures/_Andromeda/Objects/Decoration/Flags/syndie_flagpole.rsi/meta.json
Labels: Changes: Sprites, Changes: No C#
